@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Details";
}
@model TodoTask
<h4>Details</h4>
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Todo Details
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
               <!-- Todo -->
               <dl class="row">
                    <dt class="col-4">Task Name</dt>
                   <dd class="col-6">@Model.TaskName</dd>
               </dl>
                <dl class="row">
                    <dt class="col-4">Due Date</dt>
                    <dd class="col-6">@Model.DueDate</dd>
                </dl>
                <dl class="row">
                    <dt class="col-4">Is Complete</dt>
                    <dd class="col-6">@Model.IsComplete</dd>
                </dl>
                <dl class="row">
                    <dt class="col-4">Description</dt>
                    <dd class="col-6">@Model.Description</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                User Details
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <!-- User details-->
                <dl class="row">
                    <dt class="col-4">UserName</dt>
                    <dd class="col-6">@Model.AppUser.UserName</dd>
                </dl>
                <dl class="row">
                    <dt class="col-4">Due Date</dt>
                    <dd class="col-6">@Model.AppUser.Email</dd>
                </dl>
             </div>
        </div>
    </div>
</div>
<a asp-action="Index" asp-controller="Todo">Back To List</a>
